* {
    box-sizing: border-box;
}

#container {
    width: 80vmin;
    height: 80vmin;
    margin: 20px auto;
}

.row-div {
    display: flex;
}

.column-div {
    border: 1px solid black;
}

#grid-size-div {
    text-align: center;
}